body {
    /* Quito el margen por defecto */
    margin: 0px;
}

ul {
    /* hace que se quiten los bullets de la lista */
    list-style: none;
    /* Estas dos lineas las añado para quitar los estilos por defecto de padding y margin */
    padding: 0px;
    margin: 0px;
}

.navbar {
    /* hace que la lista se vuelva horizontal */
    display: flex;
    /* Agrega un espacio entre los elementos */
    justify-content: space-between;
    /* crea unos pequeños espacios de padding */
    padding: 10px;
}

.logo {
    height: 70px;
}

.button {
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px black;
}

.mainButton {
    background-color: blue;
    color: white;        
}

.secondaryButton {
    background-color: azure;
    color:blue;
}

.buscar {
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
}

.buscar:focus-within {
    border: 1px solid blue;
}

.buscar > input {
    outline: none;
    border: 0px;
}
